@media(max-width: 1500px) {
    .aboutUs__box__image {
        left: -15px;
        width: 315px;
    }

    .order__stickyInfo {
        width: 300px;
    }

    .order__stickyInfo .cart__table__bottom__sum--discount {
        font-size: 14px;
    }

    .order__stickyInfo .cart__table__bottom__sum:last-of-type {
        font-size: 18px;
    }

}

@media(max-width: 1400px) {
    .order--2__main {
        width: calc(100% - 350px);
    }

    .landing__header {
        font-size: 32px;
    }

    .contact__data__item > span,
    .contactForm__header {
        font-size: 24px;
    }

    .contactForm__text {
        font-size: 15px;
        margin-top: 10px;
    }

    .contactForm__label {
        font-size: 12px;
    }

    .contactData__secondHeader {
        margin-top: 40px;
        font-size: 21px;
        margin-bottom: 0;
    }

    .contactData__secondText {
        margin-top: 10px;
        font-size: 15px;
    }

    .contact__data__item > figure {
        width: 50px;
        height: 50px;
    }

    .landing__subheader {
        font-size: 18px;
    }

    .landing__main__right {
        width: 35%;
    }

    .btn--landing {
        height: 55px;
    }

    .landing__benefits__item > .img {
        height: 50px;
        width: auto;
    }

    .landing__benefits__item__content__header {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .siteHeader__contact *,
    .landing__benefits__item__content__subheader {
        font-size: 12px;
        margin-top: 0;
    }

    .siteHeader__logo {
        height: 120px;
        width: auto;
    }

    .siteHeader__logo > .img {
        height: 100%;
        width: auto;
    }

    .siteHeader__cart,
    .siteHeader__menu__item__link {
        font-size: 14px;
    }

    .siteHeader__cart > .img {
        width: 15px;
        margin-right: 5px;
    }

    .landing__main::after {
        content: "";
        background-image: url("../img/logo-background.png");
        width: 800px;
        height: 800px;
        left: 6%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .landing__benefits {
        margin-top: 60px;
    }

    .section__header {
        font-size: 32px;
    }

    .aboutUs__box__header {
        font-size: 24px;
    }

    .offer__item__points__list__item,
    .offer__item__points__header,
    .offer__item__shortDescription,
    .aboutUs__box__text {
        font-size: 14px;
    }

    .offer__item__price {
        font-size: 26px;
    }

    .offer__item__btn {
        height: 40px;
        font-size: 14px;
    }

    .btn--aboutUsBox {
        height: 45px;
        font-size: 14px;
        width: 300px;
    }

    .aboutUs__box::after {
        width: 145px;
    }

    .offer__item__title {
        font-size: 24px;
    }

    .footer__col__logoWrapper {
        width: 280px;
    }

    .footer__col__contact,
    .footer__col__link,
    .footer__col__text {
        font-size: 13px;
    }

    .singleProduct__title {
        font-size: 22px;
    }

    .singleProduct__shortDescription {
        font-size: 15px;
    }

    .singleProduct__price {
        font-size: 20px;
    }

    .btn--addToCart {
        height: 45px;
        font-size: 15px;
    }

    .singleProduct .landing__benefits {
        display: none;
    }

    .singleProduct__longDescription__header {
        font-size: 26px;
    }

    .singleProduct__longDescription__content p {
        font-size: 13px;
    }

    .singleProduct__longDescription__content h1,
    .singleProduct__longDescription__content h2,
    .singleProduct__longDescription__content h3,
    .singleProduct__longDescription__content h4 {
        font-size: 17px;
    }

    .btn--category {
        font-size: 12px;
    }

    .blog__articles__item__categories__item {
        font-size: 11px;
    }

    .btn--blog {
        height: 40px;
        font-size: 12px;
    }

    .blog__articles__item__date {
        font-size: 12px;
    }

    .blog__articles__item__title {
        font-size: 20px;
        margin: 7px 0 10px;
    }

    .blog__search__label {
        width: 300px;
        height: 35px;
    }

    .input--search {
        font-size: 12px;
    }

    .blog--single {
        max-width: 90%;
    }
}

@media(max-width: 1200px) {
    .btn--landing {
        font-size: 14px;
    }

    .discountPanel__header {
        font-size: 20px;
    }

    .contactForm {
        margin-right: 30px;
        padding-right: 30px;
    }

    .differentProducts {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .differentProducts__item {
        width: 48%;
        margin-bottom: 30px;
    }

    .references__asset,
    .aboutUs__box::after {
        display: none;
    }

    .problems__left__item > figure {
        width: 75px;
        height: 75px;
    }

    .problems__right * {
        font-size: 14px;
    }

    .problems__right h1,
    .problems__right h1 *,
    .problems__right h2,
    .problems__right h2 *,
    .problems__right h3,
    .problems__right h3 *,
    .problems__right h4,
    .problems__right h4 * {
        font-size: 18px;
    }

    .offer__item {
        width: 45%;
        border-radius: 10px !important;
    }

    .offer {
        justify-content: space-evenly;
    }

    .section--cooperation {
        margin-top: 30px;
    }

    .beforeFooter__header {
        font-size: 26px;
    }

    .beforeFooter__subheader {
        font-size: 18px;
        max-width: 80%;
        margin: 25px auto;
    }

    .btn--beforeFooter {
        width: 300px;
        font-size: 13px;
        height: 50px;
    }

    .img--ty {
        width: 150px;
    }

    .ty__header {
        font-size: 26px;
    }

    .ty__text {
        font-size: 18px;
    }

    .ty__buttons {
        width: 460px;
    }

    .btn--ty {
        width: 220px;
        font-size: 14px;
    }

    .section--problems > .flex {
        flex-direction: column;
    }

    .problems__left {
        padding-right: 0;
    }

    .section--problems > .flex > * {
        width: 100%;
        border-right: none;
    }

    .problems__right,
    .problems__right * {
        text-align: center !important;
    }

    .cart__table__header__col:last-of-type,
    .cart__table__item__col:last-of-type {
        width: 15%;
    }

    .cart__table__header__col:first-of-type,
    .cart__table__item__col:first-of-type {
        max-width: 10%;
    }

    .cart__table__header__col:nth-of-type(2),
    .cart__table__item__col:nth-of-type(2) {
        max-width: 20%;
    }

    .cart__table__header__col:nth-of-type(3),
    .cart__table__item__col:nth-of-type(3) {
        max-width: 30%;
    }

    .cart__table__header__col:nth-of-type(4),
    .cart__table__item__col:nth-of-type(4) {
        max-width: 15%;
    }

    .discountCode__caption,
    .cart__table__header *,
    .cart__table__item * {
        font-size: 12px;
    }

    .cart__table--order .cart__table__header__col:first-of-type,
    .cart__table--order .cart__table__item__col:first-of-type {
        max-width: 12%;
    }

    .cart__table--order .cart__table__header__col:nth-of-type(2),
    .cart__table--order .cart__table__item__col:nth-of-type(2) {
        max-width: 25%;
    }

    .cart__table--order .cart__table__header__col:nth-of-type(3),
    .cart__table--order .cart__table__item__col:nth-of-type(3) {
        max-width: 42%;
    }

    .cart__table--order .cart__table__header__col:nth-of-type(4),
    .cart__table--order .cart__table__item__col:nth-of-type(4) {
        max-width: 15%;
    }

    .cart__bottom--order--3,
    .clientData,
    .cart__table--order {
        width: 650px;
    }

    .clientData__section__header,
    .clientData__section__data {
        font-size: 14px;
    }

    .cart .section__header {
        font-size: 26px;
    }

    .btn--deleteFromCart {
        width: 12px;
    }

    .input--discountCode,
    .btn--discountCode {
        font-size: 12px;
        height: 40px;
    }

    .cart__table__bottom__sum {
        font-size: 20px;
    }

    .admin__purchase__section__header,
    .cart__table__bottom__sum--discount {
        font-size: 14px;
    }

    .cart__bottom .btn {
        font-size: 13px;
        width: 180px;
        height: 40px;
    }

    .adminMenu__item {
        padding: 15px 5px 15px 10px;
        height: 50px;
    }

    .admin__purchase__section__data,
    .adminMenu__item span {
        font-size: 12px;
    }

    .admin__products__item__column > .key {
        font-size: 10px;
    }

    .admin__products__item__column > .value {
        font-size: 12px;
    }

    .admin__products__item__column > figure {
        height: 40px;
    }

    .btn--addProductPage {
        font-size: 13px;
        height: 35px;
        font-weight: 500;
        width: 250px;
    }

    .admin__header {
        font-size: 21px;
    }

    .admin__purchase__emailToSend {
        font-size: 15px;
        padding: 5px 10px;
    }

    .paymentStatus {
        font-size: 13px;
    }

    .paymentStatus--neutral {
        font-size: 16px;
    }

    .admin__purchase__cart__sum {
        font-size: 15px;
    }

    .admin__purchase__emailToSend > span,
    .admin__purchase__cart__sum--value,
    .admin__purchase__cart__sum--discount,
    .admin__purchase__cart__item__col {
        font-size: 12px;
    }

    .admin__purchase__cart__item__col--image {
        width: 80px;
    }

    .btn--adminDownload {
        width: 100px;
        height: 80px;
        font-size: 12px;
    }

    .btn--adminDownload .img {
        width: 10px;
        margin-bottom: 5px;
    }
}

@media(max-width: 996px) {
    .admin__products__item {
        flex-direction: column;
    }

    .btn--productList {
        width: 12px;
        height: 12px;
    }

    .admin__products__item__column > .key {
        margin-bottom: 2px;
    }

    .admin__products__item__column {
        margin-bottom: 10px;
    }

    .landing__main__right > .img {
        transform: translateY(5vw);
    }

    .contactForm {
        width: 47%;
        margin-right: 3%;
        padding-right: 3%;
    }

    .contact__data__item > span, .contactForm__header {
        font-size: 16px;
    }

    .contact__data {
        width: 49%;
    }

    .btn--aboutUsBox {
        width: 220px;
    }

    .aboutUs__box__image {
        width: 275px;
    }

    .aboutUs__box__socialMedia {
        left: 288px;
    }

    .aboutUs__box {
        padding-left: 288px;
    }

    .problems__left__item > span {
        font-size: 12px;
    }

    .references {
        flex-wrap: wrap;
    }

    .section__subheader {
        font-size: 16px;
    }

    .references__item__header {
        font-size: 15px;
    }

    .references__item__text {
        font-size: 14px;
    }

    .references__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__main {
        flex-wrap: wrap;
    }

    .footer__col__text {
        text-align: center;
    }

    .footer__main > * {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutUs__box__socialMedia__link:last-of-type {
        margin-right: 0;
    }

    .footer__col:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .footer__col__header {
        margin-bottom: 5px;
    }

    .btn--calendar {
        width: 90px;
        height: 110px;
    }

    .calendar__day {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .calendar__weekday {
        margin-top: 0;
        font-size: 10px;
    }

    .calendar__month {
        font-size: 10px;
    }

    .btn--download {
        height: 40px;
        width: 220px;
        font-size: 13px;
    }

    .calendar--order {
        max-width: 600px;
    }

    .order__section__header {
        font-size: 14px;
    }

    .input--email {
        max-width: 100%;
        height: 45px;
    }

    .admin__purchase > .flex {
        flex-wrap: wrap;
    }

    .admin__purchase__section {
        width: 40%;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .paymentStatus {
        width: fit-content;
        width: -moz-max-content;
    }

    .admin__main__header--purchaseDetails {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .admin__purchase__emailToSend {
        margin-top: 10px;
    }

    .admin__purchase__emailToSend {
        font-size: 15px;
        text-align: center;
    }

    .admin__purchase__emailToSend > span {
        font-size: 10px;
        display: block;
        text-align: center;
    }

    .admin__main__header--purchaseDetails .admin__header {
        font-size: 18px;
        text-align: center;
    }

    .btn--handleSubmitOrder {
        width: 300px !important;
    }

    .admin__purchase__filter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .admin__purchase__filter__header {
        margin: 0 0 10px 0;
    }

    .admin__purchase__filter > label {
        margin: 8px auto;
    }
}

@media(max-width: 768px) {
    .d-desktop {
        display: none !important;
    }

    .d-mobile {
        display: block !important;
    }

    .d-mobile.flex {
        display: flex !important;
    }

    .admin__purchase__filter__header {
        font-size: 15px;
    }

    .admin__purchase__filter > label {
        font-size: 12px;
    }

    .btn--handleSubmitOrder {
        width: 100% !important;
    }

    .btn--problems {
        height: 45px;
        font-size: 14px;
        border-radius: 5px;
    }

    .aboutUs__box__socialMedia {
        left: 50%;
        transform: translateX(-50%);
    }

    .admin__purchase > .flex--start {
        flex-direction: column;
    }

    .admin__purchase > .flex--start > * {
        width: 100%;
    }

    .admin__purchase__paymentStatus {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .admin__purchase__cart__sum {
        text-align: center !important;
        margin-right: 0 !important;
        max-width: none !important;
        width: 100% !important;
    }

    .admin__purchase__cart__item__col:first-of-type {
        padding-top: 10px;
    }

    .admin__purchase__cart__item {
        flex-direction: column;
        width: 100%;
    }

    .admin__purchase__cart {
        margin-top: -30px;
    }

    .admin__purchase__cart .admin__purchase__section__header {
        text-align: center;
    }

    .admin__purchase__cart__item > *:not(figure) {
        width: 100% !important;
    }

    .admin__purchase__section {
        width: 100%;
    }

    .admin__purchase__section * {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .paymentStatus--neutral {
        margin-bottom: 0;
    }

    .btn--calendar {
        margin: 0 10px 10px 0;
    }

    .container--panel .btn--calendar {
        width: 45%;
    }

    .cart__bottom {
        flex-direction: column;
        margin-bottom: 0;
    }

    .uploadAttachmentLabel > span > .img--check {
        width: 14px;
    }

    .uploadAttachmentLabel > span {
        font-size: 12px;
    }

    .cart__bottom--order--3, .clientData, .cart__table--order {
        width: 100% !important;
    }

    .orderWrapper {
        margin: 20px auto 40px;
    }

    .cart__bottom > .flex > *,
    .cart__bottom > * {
        width: 100% !important;
        margin: 0 0 8px 0 !important;
    }

    .btn--handleSubmitOrder {
        width: 100% !important;
    }

    .blog--single {
        margin-top: 0;
    }

    .singleArticle__image > .img {
        border-radius: 10px;
    }

    .singleArticle__title {
        font-size: 22px;
        margin: 10px 0 5px;
    }

    .singleArticle__content * {
        font-size: 13px !important;
    }

    .singleArticle__content > * {
        margin: 8px 0;
    }

    .singleArticle__content h1,
    .singleArticle__content h2,
    .singleArticle__content h3 {
        font-size: 16px !important;
    }

    .siteHeader {
        margin-top: 25px;
    }

    .mobileMenu .siteHeader__contact__link {
        padding-top: 5px;
        margin-left: -4px;
    }

    .siteHeader__mobileLogo {
        width: 100%;
        max-width: 290px;
        margin: 0 auto 20px;
    }

    .siteHeader__mobileBar {
        background: var(--primary);
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        height: 50px;
        border-radius: 10px;
        padding: 8px 15px;
    }

    .siteHeader__mobileBar__btn {
        background: transparent;
        width: 30px;
        border: none;
        outline: none;
    }

    a.siteHeader__mobileBar__btn > .img {
        width: 20px;
        filter: brightness(0) invert(1);
    }

    button.siteHeader__mobileBar__btn {
        margin-bottom: -7px;
    }

    .landing__main {
        max-width: 400px;
        margin: auto;
    }

    .landing__main__left {
        width: 100%;
        margin-top: 10px;
    }

    .landing__header,
    .landing__subheader {
        text-align: center;
        max-width: 400px;
    }

    .landing__main::after {
        width: 630px;
        top: 16%;
    }

    .landing__header {
        font-size: 36px;
    }

    .landing__buttons {
        flex-direction: column;
    }

    .landing__subheader {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .btn--landing {
        max-width: 290px;
        margin: 0 auto 10px !important;
        width: 100%;
        height: 35px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .offer__item {
        width: 100%;
    }

    .ty {
        padding-bottom: 0;
    }

    .ty * {
        max-width: 90%;
    }

    .ty__buttons {
        flex-direction: column;
        max-width: 90%;
    }

    .btn--ty {
        font-size: 13px;
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }

    .ty__header {
        font-size: 24px;
    }

    .ty__text {
        font-size: 16px;
    }

    .ty__text__date {
        display: block;
    }

    .footer__bottom > * {
        font-size: 10px;
    }

    .footer__bottom {
        padding: 5px 0 10px;
    }

    .section--aboutUs {
        margin-top: 50px;
    }

    .section__header {
        font-size: 28px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutUs__box {
        margin-top: 280px;
        padding: 20px !important;
        border-radius: 10px;
        border: 1px dashed #A8A8A8;
        max-width: 400px;
    }

    .aboutUs__box__image {
        top: -250px;
        height: 250px;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .aboutUs__box__image > .img {
        height: 100%;
        width: auto;
    }

    .aboutUs__box__socialMedia__header {
        display: block;
        font-size: 12px;
        width: 100%;
        text-align: center;
        padding-bottom: 8px;
    }

    .aboutUs__box__header,
    .aboutUs__box__text {
        text-align: center;
    }

    .aboutUs__box__header {
        font-size: 20px;
    }

    .aboutUs__box__text {
        font-size: 12px;
        max-width: 100%;
    }

    .aboutUs__box__socialMedia {
        flex-wrap: wrap;
        position: relative;
        bottom: unset;
        right: unset;
        justify-content: center;
    }

    .section--problems .section__header {
        margin-bottom: 40px;
    }

    .section--problems > .flex {
        max-width: 85%;
    }

    .section--problems {
        margin: 30px auto;
    }

    .offer__types__item {
        height: 35px;
        width: 150px;
        font-size: 14px;
    }

    .section--offer {
        margin-top: 20px;
    }

    .offer {
        margin-top: 30px;
    }

    .offer__item {
        padding: 15px;
        margin-bottom: 30px;
    }

    .section__subheader {
        max-width: 250px;
        font-size: 14px;
    }

    .references__item > * {
        text-align: center;
    }

    .references__item__stars {
        justify-content: center;
    }

    .beforeFooter__header,
    .beforeFooter__subheader {
        max-width: 85%;
    }

    .beforeFooter__header {
        font-size: 24px;
    }

    .beforeFooter__subheader {
        font-size: 15px;
    }

    .section--beforeFooter {
        padding: 0;
    }

    .section--cooperation {
        padding: 40px 8%;
    }

    .section--cooperation > .section__header {
        text-align: left;
    }

    .cooperation {
        flex-direction: column;
    }

    .cooperation__item {
        width: 100%;
        align-items: flex-start;
    }

    .cooperation__item__number {
        width: 75px;
        height: 75px;
        font-size: 26px;
        margin-bottom: 40px;
    }

    .cooperation__item::after {
        height: 200px;
        width: 1px;
        top: 75px;
        left: 35px;
    }

    .cooperation__item__number::after {
        bottom: -90px;
        left: 48%;
        transform: translate(-50%, -50%);
    }

    .cooperation__item__header,
    .cooperation__item__text {
        text-align: left;
        padding-left: 40px;
        margin: -20px 0 20px 30px;
    }

    .cooperation__item__header {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .cooperation__item__text {
        font-size: 12px;
    }

    .cooperation__item:last-of-type::after {
        height: 140px;
    }

    .section--references {
        padding-bottom: 0;
    }

    .mobileMenu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 35px;
        z-index: 100;
        top: 0;
        left: 0;
        transition: .1s all;
        transform: scaleX(0);
        transform-origin: top left;
    }

    .mobileMenu > * {
        opacity: 0;
        transition: .1s all;
    }

    .mobileMenu > .img {
        max-width: 280px;
        margin: auto;
        display: block;
    }

    .mobileMenu .siteHeader__menu {
        margin-top: 30px;
        width: 100%;
    }

    .mobileMenu .siteHeader__menu__item__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid #A8A8A8;
        font-size: 14px;
        font-weight: 400;
    }

    .mobileMenu .siteHeader__contact {
        position: relative;
        flex-direction: column;
        margin-top: 40px;
    }

    .mobileMenu__bottom {
        width: 90%;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid #D2D2D2;
        padding-bottom: 5px;
    }

    .mobileMenu__bottom__closeMenu {
        width: 20px;
        background: transparent;
        border: none;
    }

    .modal__inner {
        width: 80%;
        height: 300px;
        border-radius: 5px;
        padding: 35px;
    }

    .modal__inner > .img {
        height: 35px;
        width: auto;
    }

    .modal__header {
        margin: 30px auto 20px;
        font-size: 15px;
    }

    .modal__buttons {
        flex-direction: column;
    }

    .modal__buttons > .btn {
        margin: 5px auto;
        height: 35px;
        font-size: 12px;
        max-width: 100%;
    }

    .singleProduct {
        margin-top: 0;
    }

    .singleProduct > * {
        width: 100%;
    }

    .differentProducts__item {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        border: 1px dashed #A8A8A8;
    }

    .differentProducts__item .offer__item__title {
        font-size: 24px;
    }

    .differentProducts__item .offer__item__shortDescription {
        margin: 10px auto;
        font-size: 12px;
    }

    .differentProducts__item .offer__item__price {
        font-size: 18px;
    }

    .singleProduct__title {
        margin-top: 15px;
        font-size: 20px;
    }

    .singleProduct__shortDescription {
        font-size: 14px;
    }

    .singleProduct__price {
        font-size: 18px;
    }

    .singleProduct .offer__item__points__list__item > span {
        font-size: 12px;
    }

    .singleProduct .offer__item__points__list__item > .img {
        width: 10px;
    }

    .singleProduct__longDescription__header {
        font-size: 20px;
        margin-top: 20px;
    }

    .emptyCart {
        margin: 50px auto;
    }

    .emptyCart .section__header {
        font-size: 24px;
    }

    .btn--emptyCart {
        height: 45px;
        font-size: 14px;
        width: 250px;
        margin-top: 10px;
    }

    .cart__table__item__col:first-of-type,
    .cart__table__header__col:first-of-type {
        display: none;
    }

    .cart__table__header__col:last-of-type,
    .cart__table__item__col:last-of-type {
        max-width: 15%;
    }

    .cart__table__header__col:nth-of-type(2),
    .cart__table__item__col:nth-of-type(2) {
        max-width: 20%;
    }

    .cart__table__header__col:nth-of-type(3),
    .cart__table__item__col:nth-of-type(3) {
        max-width: 40%;
    }

    .cart__table__header__col:nth-of-type(4),
    .cart__table__item__col:nth-of-type(4) {
        max-width: 20%;
    }

    .cart__table__bottom {
        flex-direction: column;
    }

    .cart__table--order .cart__table__item__col:first-of-type,
    .cart__table--order .cart__table__header__col:first-of-type {
        display: none;
    }

    .cart__table--order .cart__table__header__col:last-of-type,
    .cart__table--order .cart__table__item__col:last-of-type {
        max-width: 15%;
    }

    .cart__table--order .cart__table__header__col:nth-of-type(2),
    .cart__table--order .cart__table__item__col:nth-of-type(2) {
        max-width: 25%;
    }

    .cart__table--order .cart__table__header__col:nth-of-type(3),
    .cart__table--order .cart__table__item__col:nth-of-type(3) {
        max-width: 50%;
    }

    .cart__table--order .cart__table__header__col:nth-of-type(4),
    .cart__table--order .cart__table__item__col:nth-of-type(4) {
        max-width: 24%;
    }

    .clientData {
        margin-top: 5px;
    }

    .cart__table__bottom > * {
        width: 100%;
    }

    .cart__table__bottom__right {
        margin-top: 25px;
    }

    .order .cart__table__bottom__right {
        margin-top: -5px;
    }

    .cart__table__bottom__sum {
        text-align: left;
    }

    .error--discountCode {
        height: 40px;
    }

    .contact {
        margin: 30px auto;
        flex-direction: column;
    }

    .contact > * {
        width: 100%;
        border: none;
    }

    .contactForm {
        margin-bottom: 25px;
    }

    .contactForm__header {
        font-size: 24px;
    }

    .contactForm__text,
    .contactForm__secondText {
        font-size: 14px;
    }

    .input--contactForm {
        height: 40px;
    }

    .input--contactForm.input--textarea {
        height: 100px;
    }

    .contact__data__item > figure {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contact__data__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .contactData__secondHeader,
    .contactData__secondText {
        text-align: center;
    }

    .contactData__secondHeader {
        font-weight: 600;
    }

    .contactData__secondText {
        font-size: 14px;
    }

    .blog .section__header {
        margin: 20px 0;
    }

    .blog__top {
        flex-direction: column;
    }

    .blog__top > * {
        max-width: 100%;
        width: 100%;
    }

    .btn--category,
    .blog__search__label {
        height: 30px;
        font-size: 11px;
    }

    .blog__search__label {
        width: 100%;
    }

    .blog__search {
        margin-top: 20px;
    }

    .blog__articles {
        margin: 40px 0;
        grid-template-columns: 1fr;
    }

    .btn--goToCart,
    .btn--handleSubmitOrder {
        order: -1;
        height: 50px !important;
    }

    .btn--nextToHandleSubmitOrder {
        height: 35px !important;
    }

    .order__header {
        font-size: 24px;
    }

    .order--1 .flex {
        flex-wrap: wrap;
    }

    .order--1 label,
    .order--1 .input {
        font-size: 12px;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .order--1 .input {
        height: 40px;
    }

    .order--1 .flex--start:not(label) {
        justify-content: space-between;
    }

    .order--1 .label--flat {
        width: 48% !important;
    }

    .error--order {
        margin-top: 0;
    }

    .adminMenu {
        width: 40px;
    }

    .adminMenu__logo,
    .adminMenu__item span {
        display: none;
    }

    .adminTop__btn {
        width: 25px;
        height: 25px;
        right: 20px;
    }

    .adminTop {
        padding-right: 20px;
        height: 40px;
        padding-left: 60px;
    }

    .adminTop__header {
        font-size: 12px;
    }

    .admin.center {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .admin {
        margin-top: 60px;
        margin-right: 20px !important;
        margin-left: 60px !important;
    }

    .admin__start__section:last-child {
        margin-top: 20px;
    }

    .admin__start__section__header {
        font-size: 14px;
        text-align: center;
    }

    .admin__start__stats__value {
        font-size: 24px;
    }

    .admin__start__stats {
        width: 44%;
    }

    .admin__header {
        flex-direction: column;
    }

    .btn--addProductPage {
        margin-top: 10px;
        height: 30px;
        font-size: 12px;
        width: 180px;
    }

    .admin__productEdition--top {
        flex-direction: column;
    }

    .admin__productEdition--top > * {
        width: 100% !important;
    }

    .admin__offerTypeHeader {
        font-size: 15px;
    }

    .admin__label--choice label,
    .admin__label > span {
        font-size: 12px;
    }

    .btn--adminSelect {
        width: 20px;
        height: 20px;
    }

    .admin__main__header {
        flex-direction: column;
        justify-content: center;
    }

    .admin__header {
        font-size: 18px;
        text-align: center;
    }

    .btn--addPoint {
        max-width: 100%;
    }

    .admin__header--image {
        margin-top: -15px;
        font-size: 12px;
    }

    .removeProfileImageBtn {
        width: 25px;
        height: 25px;
    }

    .input--admin:not(.input--textarea) {
        height: 35px;
    }

    .btn--submitProduct {
        height: 45px;
    }

    .admin--content--flex {
        flex-direction: column;
    }

    .admin__label {
        margin-bottom: 40px;
    }

    .admin--content--flex > * {
        width: 100% !important;
    }

    .info, .error {
        font-size: 12px;
        margin-top: 10px;
    }

    .filesUploadLabel__inner {
        font-size: 14px;
    }

    .calendarEditionHeader {
        font-size: 12px;
        text-align: center;
    }

    .filesUploadLabel__inner > .img {
        width: 20px;
    }

    .discountPanel__form > .admin__label:last-of-type {
        margin-bottom: 20px;
    }

    .categories__header {
        font-size: 15px;
    }

    .categories__list__item * {
        font-size: 12px;
    }

    .addNewCategory {
        flex-wrap: wrap;
    }

    .addNewCategory > * {
        width: 100%;
        text-align: center;
        height: 40px;
        font-size: 12px;
    }

    .discountPanel__header {
        font-size: 15px;
        text-align: center;
    }

    .discountPanel__list__item {
        padding: 7px 0;
    }

    .discountPanel__list__item span {
        font-size: 12px;
    }

    .references {
        height: auto;
    }

    .references__block {
        opacity: 1 !important;
        z-index: 3 !important;
        position: relative;
        flex-direction: column;
    }

    .order--2 {
        flex-wrap: wrap;
    }

    .order__stickyInfo {
        display: none;
    }

    .order--2__main {
        width: 100%;
    }

    .center--purchaseStatus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 576px) {
    .loginForm {
        box-shadow: none;
    }

    .uploadAttachmentLabel,
    .btn--download {
        width: 100%;
    }

    .problems__left__item {
        width: 28%;
    }

    .problems__left__item span {
        word-break: break-word;
        white-space: pre-wrap;
        -moz-white-space: pre-wrap;
    }

    .problems__left {
        gap: 20px;
    }

    .cart__table__bottom {
        align-items: flex-start;
    }

    .discountCode {
        width: 280px;
    }

    .input--discountCode {
        width: 230px;
    }

    .cart__bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .cart__bottom > .flex > *,
    .cart__bottom > * {
        width: 100% !important;
        margin: 0 0 10px 0 !important;
    }

    .cart__table__header__col {
        height: 40px;
    }
}
