@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2A2A2A;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: #2A2A2A;
    --primary: #508345;
    --hover: #307234;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

a, button {
    outline: none;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
}

.w {
    width: 1500px;
    max-width: 90%;
    margin: auto;
}

.img {
    width: 100%;
}

.shadow {
    -webkit-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    -moz-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteHeader {
    position: relative;
    padding-top: 0;
    margin: 45px auto 25px;
}

.siteHeader__contact {
    position: absolute;
    top: 0;
    right: 0;
}

.siteHeader__contact {
    justify-content: flex-start;
}

.siteHeader__contact .img {
    width: 12px;
    margin-right: 12px;
}

.siteHeader__contact > * {
    font-size: 14px;
    color: var(--text);
}

.siteHeader__contact > a {
    font-weight: 600;
    padding-left: 5px;
}

.siteHeader__contact > a:hover {
    color: var(--primary);
}

.siteHeader__logo {
    width: 200px;
    height: auto;
}

.siteHeader__menu {
    list-style-type: none;
}

.siteHeader__menu__item {
    margin: 0 2vw;
}

.siteHeader__menu__item__link {
    font-weight: 600;
}

.siteHeader__menu__item__link:hover {
    color: var(--primary);
}

.siteHeader__cart {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
    margin-left: 8vw;
}

.siteHeader__cart .img {
    width: 19px;
    margin-right: 10px;
}

.siteHeader__main__right {
    justify-content: flex-end;
}

.landing__header {
    font-size: 48px;
    font-weight: 700;
}

.landing__subheader {
    margin: 15px 0 40px;
    font-weight: 400;
    font-size: 20px;
    max-width: 600px;
}

.green {
    color: var(--primary);
}

.landing__buttons {
    justify-content: flex-start;
}

.btn {
    height: 75px;
    padding: 5px 20px;
    border-radius: 38px;
    background: var(--primary);
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--landing {
    width: 350px;
}

.btn--landing:first-of-type {
    margin-right: 20px;
}

.btn--white {
    background: #fff;
    color: var(--primary);
    border: 3px solid var(--primary);
}

.btn--landing:hover {
    transform: translateY(-3px);
}

.landing__main__left {
    width: 52%;
    margin-top: 60px;
}

.landing__main__right {
    width: 47%;
    transform: translateX(4vw);
}

.landing__main {
    position: relative;
    align-items: flex-start;
}

.landing__main > * {
    position: relative;
    z-index: 2;
}

.landing__main::after {
    content: url("../img/logo-background.png");
    position: absolute;
    left: 0;
    top: -10%;
    width: 800px;
    height: auto;
    transform: translateX(-36%);
    z-index: 1;
}

.landing__benefits {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.landing__benefits__item .img {
    width: 50px;
    margin-right: 15px;
}

.landing__benefits__item__content__header {
    font-size: 16px;
}

.landing__benefits__item__content__subheader {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    max-width: 180px;
}

.section__header {
    text-align: center;
    color: var(--text);
    font-size: 42px;
    margin: 0 auto 25px;
}

.section {
    margin: 50px auto;
}

.section--aboutUs {
    margin-top: 120px;
}

.aboutUs__box {
    background: #F8F8F8;
    border: 1px solid #A8A8A8;
    border-radius: 250px 100px 100px 0;
    padding: 45px 25px 45px 350px;
    position: relative;
    max-width: 1275px;
    margin: 80px auto 40px;
}

.aboutUs__box::after {
    content: url("../img/asset1.png");
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    transform: translateY(-40%);
}

.aboutUs__box__image {
    position: absolute;
    left: -50px;
    bottom: -10px;
    width: 345px;
    height: auto;
}

.aboutUs__box__header {
    font-size: 32px;
    color: var(--text);
}

.aboutUs__box__text {
    font-size: 18px;
    color: var(--text);
    margin: 20px 0;
    max-width: 90%;
}

.btn--aboutUsBox {
    height: 60px;
    width: 350px;
    border-radius: 10px;
    margin-top: 30px;
}

.btn--aboutUsBox:hover {
    transform: translateX(4px);
}

.aboutUs__box__socialMedia {
    position: absolute;
    bottom: 30px;
    right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aboutUs__box__socialMedia__header {
    color: var(--text);
    font-size: 14px;
    padding-right: 10px;
}

.aboutUs__box__socialMedia__link {
    width: 20px;
    margin-right: 12px;
    display: block;
}

.aboutUs__box__socialMedia__link:hover {
    opacity: .75;
}

.offer__types {
    justify-content: center;
    margin: 20px auto 30px;
}

.offer__types__item {
    background: transparent;
    border: 1px solid var(--primary);
    height: 50px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.offer__types__item:first-of-type {
    border-right: none;
}

.offer__types__item:last-of-type {
    border-left: none;
}

.offer__types__item--selected {
    color: #fff;
    background: var(--primary);
}

.section--offer {
    margin-top: 80px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm > * {
    margin: 10px auto;
    width: 100%;
}

.input {
    border: 2px solid var(--primary);
    padding: 4px 10px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    width: 100%;
}

.input:focus {
    -webkit-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    -moz-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
}

.loginForm .input {
    height: 40px;
}

.btn--loginSubmit {
    height: 45px;
}

.btn--loginSubmit:hover {
    background: var(--hover);
}

.container--login {
    width: 100%;
    height: 100vh;
    min-height: 400px;
}

.loginForm__logo {
    width: 80%;
}

.adminMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    border-right: 2px solid var(--primary);
    z-index: 30;
    background: #fff;
}

.adminMenu__item {
    border-bottom: 1px solid var(--primary);
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.adminMenu__item > span {
    transition: .2s all;
}

.adminMenu__item:hover > span {
    transform: translateX(5px);
}

.adminMenu__item .img {
    width: 15px;
    margin-right: 15px;
}

.adminMenu__logo {
    width: 50%;
    margin: 40px auto;
}

.adminMenu__item--selected {
    background: var(--primary);
}

.adminMenu__item--selected > span {
    color: #fff;
    font-weight: 700;
}

.adminMenu__item--selected > .img {
    filter: brightness(0) invert(1);
}

.adminTop {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid var(--primary);
    z-index: 10;
    padding-left: 20%;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminTop__header {
    font-weight: 500;
}

.adminTop__btn {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.adminTop__menu {
    position: absolute;
    right: 40px;
    bottom: 10px;
    transform: translateY(100%);
    width: 120px;
    height: auto;
    background: var(--primary);
}

.btn--adminTopMenu {
    background: transparent;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
}

a.btn--adminTopMenu {
    border-bottom: 1px solid #fff;
}

.admin {
    margin: 100px 10% 40px 20%;
}

.admin__label {
    display: block;
    margin: 30px 0 50px;
}

.input--admin {
    height: 40px;
}

.admin__label--choice > label {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.btn--adminSelect {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid var(--primary);
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
    max-width: 30px;
    padding: 0;
}

.adminSelect .btn--adminSelect::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: var(--primary);
}

.admin__offerTypeHeader {
    font-size: 18px;
    margin: -10px 0 20px;
}

.admin__header {
    font-size: 26px;
    font-weight: 600;
}

.input--textarea {
    height: 150px;
    padding: 15px;
    resize: none;
}

.admin__label > span {
    width: 100%;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: -15px;
}

.admin__points__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn--deletePoint {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 50%;
    margin-left: 15px;
    padding: 0;
}

.btn--addPoint {
    background: transparent;
    border-bottom: 1px solid rgba(80, 131, 69, 0.5);
    filter: brightness(.7);
    padding-bottom: 12px;
    padding-left: 0;
    font-weight: 400;
    font-size: 15px;
    height: 30px;
    color: var(--primary);
    margin-top: 30px;
    width: 300px;
    box-shadow: none !important;
    justify-content: flex-start;
    text-align: left;
    border-radius: 0;
}

.admin__points__item {
    margin-bottom: 15px;
}

.btn--submitProduct {
    width: 100%;
    height: 60px;
}

.btn--submitProduct:hover {
    transform: translateY(-3px);
}

.flex > .admin__label:first-of-type {
    width: 80%;
}

.flex > .admin__label:last-of-type {
    width: 18%;
}

.flex > .admin__label {
    margin-bottom: 10px;
}

.btn--addPoint > .img {
    width: 15px;
    margin-left: 10px;
}

.filesUploadLabel {
    width: 100%;
    max-width: 600px;
    position: relative;
    height: auto;
    min-height: 100px;
    border: 1px dashed var(--primary);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.filesUploadLabel:hover {
    border-width: 2px;
}

.filesUploadLabel__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filesUploadLabel__inner > .img {
    width: 40px;
    margin-left: 20px;
}

.filesUploadLabel__item {
    height: 45px;
    width: auto;
    position: relative;
    margin: 0 30px;
}

.filesUploadLabel__item > .img {
    height: 100%;
    width: auto;
}

.removeProfileImageBtn {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .2s all;
    z-index: 5;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeProfileImageBtn:hover {
    background: var(--hover);
    transform: none !important;
}

.removeProfileImageBtn > .img {
    display: block;
    width: 60% !important;
    filter: brightness(0) invert(1);
}

.input--file {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.filesUploadLabel__profileImage .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

.admin__header--image {
    font-size: 14px;
    margin-top: -10px;
    font-weight: 400;
}

.rdw-editor-main {
    min-height: 200px;
    border: 2px solid var(--primary);
    padding: 5px 15px;
    font-size: 15px;
}

.flex--alignEnd {
    align-items: flex-end;
}

.mb {
    margin-bottom: 25px;
}

.error {
    color: red;
    padding: 10px 0;
    font-size: 14px;
}

.error--100 {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0 0 50px;
    text-align: center;
}

.info {
    background: var(--primary);
    color: #fff;
    font-weight: 700;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--hover);
    font-size: 14px;
}

.info--error {
    background: red;
    border: 2px solid #ee2211;
}

.admin__products__item {
    border-bottom: 1px solid var(--primary);
    padding: 15px 0;
    margin: 15px 0;
}

.admin__products__item__column > .key {
    font-size: 12px;
    color: grey;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.admin__products__item__column > .value {
    text-align: center;
    display: block;
    color: #000;
    font-size: 14px;
}

.admin__products__item__column > figure {
    height: 80px;
}

.admin__products__item__column > figure > .img {
    height: 100%;
    width: auto;
}

.admin__products__item__column > .value--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--productList {
    margin: 0 6px;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 0;
    padding: 0;
    display: block;
}

.btn--addProductPage {
    width: 300px;
    height: 40px;
    font-size: 14px;
    border-radius: 40px;
}

.admin__products {
    margin-top: 25px;
}

.offer {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 80px auto 20px;
}

.offer__item {
    width: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 35px;
    border: 1px solid #A8A8A8;
}

.offer__item__title {
    font-size: 32px;
    font-weight: 600;
    color: #2A2A2A;
}

.offer__item__shortDescription {
    color: #5D5D5D;
    font-size: 16px;
    margin: 20px 0;
}

.offer__item__points {
    margin: 25px 0;
}

.offer__item__points__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.offer__item__points__list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

.offer__item__points__list__item > .img {
    width: 14px;
    margin-right: 8px;
}

.offer__item__points__list__item > span {
    font-size: 14px;
}

.offer__item:nth-of-type(4) {
    border-bottom-left-radius: 50px;
}

.offer__item:first-of-type {
    border-top-left-radius: 50px;
}

.offer__item:nth-of-type(6) {
    border-bottom-right-radius: 50px;
}

.offer__item:nth-of-type(3) {
    border-top-right-radius: 50px;
}

.offer__item--special {
    background: #F8F8F8;
}

.offer__item__price {
    margin: 20px 0;
    font-size: 36px;
    font-weight: 700;
    display: block;
}

.offer__item__btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.offer__item__btn:hover {
    background: var(--hover);
}

.offer__item--special .offer__item__btn {
    background: #fff;
    color: var(--primary);
    border: 3px solid var(--primary);
    margin-top: 40px;
}

.offer__item--special .offer__item__btn:hover {
    background: var(--primary);
    color: #fff;
}

.section__subheader {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    max-width: 800px;
    margin: 25px auto 40px;
}

.references {
    position: relative;
}

.references__asset {
    position: absolute;
    bottom: 0;
    right: -7%;
    z-index: 4;
    width: 335px;
    height: auto;
    transform: translateY(60%);
}

.references__item {
    width: 31%;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 20px;
}

.references__item__header {
    font-size: 18px;
}

.references__item__stars {
    margin: 15px 0;
    justify-content: flex-start;
}

.references__item__stars > .img {
    width: 24px;
    margin-right: 4px;
}

.references__item__text {
    font-size: 17px;
}

.section--references {
    padding-bottom: 50px;
}

.section--cooperation {
    background: #EBF1EA;
    padding: 50px 0 30px;
    margin-top: 160px;
}

.cooperation {
    margin: 60px auto 40px;
    max-width: 1300px;
    align-items: flex-start;
}

.cooperation__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.cooperation__item::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #A8A8A8;
    display: block;
    position: absolute;
    top: 130px;
    z-index: 3;
}

.cooperation__item__number {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    border: 1px solid #A8A8A8;
    margin-bottom: 60px;
    position: relative;
    background: #fff;
    z-index: 4;
}

.cooperation__item__number::after {
    content: "";
    background: var(--primary);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.cooperation__item__header {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 15px;
    max-width: 80%;
}

.cooperation__item__text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.section--beforeFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.beforeFooter__header {
    font-weight: 600;
    font-size: 32px;
}

.beforeFooter__subheader {
    font-weight: 400;
    color: #2A2A2A;
    font-size: 20px;
    margin: 20px auto 40px;
}

.beforeFooter__subheader > a {
    color: var(--primary);
    font-weight: 700;
    text-decoration: underline;
    padding-right: 4px;
}

.beforeFooter__subheader > a:hover {
    opacity: .8;
}

.btn--beforeFooter {
    width: 500px;
    height: 60px;
    font-size: 16px;
}

.btn--beforeFooter:hover {
    transform: translateY(-3px);
}

.footer__main, .footer__bottom {
    border-top: 1px solid #D2D2D2;
    padding: 20px 0;
}

.footer__bottom {
    padding: 10px 0 20px;
}

.footer__col {
    width: 20%;
}

.footer__col--first {
    width: 35%;
}

.footer__col__logoWrapper {
    width: 370px;
    display: block;
}

.footer__main {
    align-items: flex-start;
}

.footer__col__text {
    color: #2A2A2A;
    margin: 20px 0;
    max-width: 80%;
}

.footer__col__socialMedia {
    justify-content: flex-start;
}

.footer__col__header {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__col__link {
    font-weight: 400;
    display: block;
    margin: 4px 0;
}

.footer__col__link:hover {
    color: var(--primary);
}

.footer__col__contact > .img {
    width: 11px;
    margin-right: 5px;
}

.footer__col__contact {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__bottom > * {
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: #5D5D5D;
}

.problems__left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 40px;
    border-right: 1px solid #D2D2D2;
}

.problems__left__item {
    width: 21%;
}

.problems__left__item > figure {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.problems__left__item > figure > .img {
    height: 60%;
    width: auto;
    transition: .2s all;
}

.problems__left__item > figure:hover > .img {
    height: 65%;
}

.problems__left__item:nth-of-type(even) > figure {
    background: #3C6234;
}

.problems__left__item:nth-of-type(odd) > figure {
    background: #508345;
}

.problems__left__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.problems__left__item > span {
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.section--problems {
    margin: 100px auto;
}

.section--problems .section__header {
    margin: 50px auto 70px;
}

.problems__right {
    width: 45%;
}
