@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2A2A2A;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: #2A2A2A;
    --primary: #508345;
    --hover: #307234;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

a, button {
    outline: none;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
}

.d-mobile {
    display: none !important;
}

.w {
    width: 1500px;
    max-width: 90%;
    margin: auto;
}

.img {
    width: 100%;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.shadow {
    -webkit-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    -moz-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteHeader {
    position: relative;
    padding-top: 0;
    margin: 45px auto 25px;
}

.siteHeader.w .siteHeader__logo {
    height: 150px;
}

.siteHeader.w .siteHeader__logo > .img {
    height: 100%;
    width: auto;
}

.siteHeader.w {
    padding-bottom: 20px;
    border-bottom: 1px solid #A8A8A8;
}

.siteHeader.w .siteHeader__main__right {
    margin-bottom: -15px;
}

.siteHeader__contact {
    position: absolute;
    top: 0;
    right: 0;
}

.siteHeader__contact {
    justify-content: flex-start;
}

.siteHeader__contact .img {
    width: 12px;
    margin-right: 12px;
}

.siteHeader__contact > * {
    font-size: 14px;
    color: var(--text);
}

.siteHeader__contact > a {
    font-weight: 600;
    padding-left: 5px;
}

.siteHeader__contact > a:hover {
    color: var(--primary);
}

.siteHeader__logo {
    width: 200px;
    height: auto;
}

.siteHeader__menu {
    list-style-type: none;
}

.siteHeader__menu__item {
    margin: 0 2vw;
}

.siteHeader__menu__item__link {
    font-weight: 600;
}

.siteHeader__menu__item__link:hover {
    color: var(--primary);
}

.siteHeader__cart {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
    margin-left: 8vw;
}

.siteHeader__cart .img {
    width: 19px;
    margin-right: 10px;
}

.siteHeader__main__right {
    justify-content: flex-end;
}

.landing__header {
    font-size: 48px;
    font-weight: 700;
}

.landing__subheader {
    margin: 15px 0 40px;
    font-weight: 400;
    font-size: 20px;
    max-width: 600px;
}

.green {
    color: var(--primary);
}

.landing__buttons {
    justify-content: flex-start;
}

.btn {
    height: 75px;
    padding: 5px 20px;
    border-radius: 38px;
    background: var(--primary);
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--landing {
    width: 350px;
}

.btn--landing:first-of-type {
    margin-right: 20px;
}

.btn--white {
    background: #fff;
    color: var(--primary);
    border: 3px solid var(--primary);
}

.btn--landing:hover {
    transform: translateY(-3px);
}

.landing__main__left {
    width: 52%;
    margin-top: 60px;
}

.landing__main__right {
    width: 47%;
    transform: translateX(4vw);
}

.landing__main {
    position: relative;
    align-items: flex-start;
}

.landing__main > * {
    position: relative;
    z-index: 2;
}

.landing__main::after {
    content: url("../img/logo-background.png");
    position: absolute;
    left: 0;
    top: -10%;
    width: 800px;
    height: auto;
    transform: translateX(-36%);
    z-index: 1;
}

.landing__benefits {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.landing__benefits__item .img {
    width: 50px;
    margin-right: 15px;
}

.landing__benefits__item__content__header {
    font-size: 16px;
}

.landing__benefits__item__content__subheader {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    max-width: 180px;
}

.section__header {
    text-align: center;
    color: var(--text);
    font-size: 42px;
    margin: 0 auto 25px;
}

.section {
    margin: 50px auto;
}

.section--aboutUs {
    margin-top: 120px;
    position: relative;
    z-index: 3;
}

.aboutUs__box {
    background: #F8F8F8;
    border: 1px solid #A8A8A8;
    border-radius: 250px 100px 100px 0;
    padding: 45px 25px 45px 350px;
    position: relative;
    max-width: 1275px;
    margin: 80px auto 40px;
}

.aboutUs__box::after {
    content: url("../img/asset1.png");
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    transform: translateY(-40%);
}

.aboutUs__box__image {
    position: absolute;
    left: -50px;
    bottom: -10px;
    width: 345px;
    height: auto;
}

.aboutUs__box__header {
    font-size: 32px;
    color: var(--text);
}

.aboutUs__box__text {
    font-size: 18px;
    color: var(--text);
    margin: 20px 0;
    max-width: 90%;
}

.btn--aboutUsBox {
    height: 60px;
    width: 350px;
    border-radius: 10px;
    margin-top: 30px;
}

.btn--aboutUsBox:hover {
    transform: translateX(4px);
}

.aboutUs__box__socialMedia {
    position: absolute;
    bottom: 30px;
    right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aboutUs__box__socialMedia__header {
    color: var(--text);
    font-size: 14px;
    padding-right: 10px;
}

.aboutUs__box__socialMedia__link {
    width: 20px;
    margin-right: 12px;
    display: block;
}

.aboutUs__box__socialMedia__link:hover {
    opacity: .75;
}

.offer__types {
    justify-content: center;
    margin: 20px auto 30px;
}

.offer__types__item {
    background: transparent;
    border: 1px solid var(--primary);
    height: 50px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.offer__types__item:first-of-type {
    border-right: none;
}

.offer__types__item:last-of-type {
    border-left: none;
}

.offer__types__item--selected {
    color: #fff;
    background: var(--primary);
}

.section--offer {
    margin-top: 80px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm > * {
    margin: 10px auto;
    width: 100%;
}

.input {
    border: 2px solid var(--primary);
    padding: 4px 10px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    width: 100%;
}

.input:focus {
    -webkit-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    -moz-box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
    box-shadow: 0px 0px 8px -5px rgba(27, 25, 25, 1);
}

.loginForm .input {
    height: 40px;
}

.btn--loginSubmit {
    height: 45px;
}

.btn--loginSubmit:hover {
    background: var(--hover);
}

.container--login {
    width: 100%;
    height: 100vh;
    min-height: 400px;
}

.loginForm__logo {
    width: 80%;
}

.adminMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    border-right: 2px solid var(--primary);
    z-index: 30;
    background: #fff;
}

.adminMenu__item {
    border-bottom: 1px solid var(--primary);
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.adminMenu__item > span {
    transition: .2s all;
}

.adminMenu__item:hover > span {
    transform: translateX(5px);
}

.adminMenu__item .img {
    width: 15px;
    margin-right: 15px;
}

.adminMenu__logo {
    width: 40%;
    margin: 30px auto;
}

.adminMenu__item--selected {
    background: var(--primary);
}

.adminMenu__item--selected > span {
    color: #fff;
    font-weight: 700;
}

.adminMenu__item--selected > .img {
    filter: brightness(0) invert(1);
}

.adminTop {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid var(--primary);
    z-index: 10;
    padding-left: 20%;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminTop__header {
    font-weight: 500;
}

.adminTop__btn {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.adminTop__menu {
    position: absolute;
    right: 40px;
    bottom: 10px;
    transform: translateY(100%);
    width: 120px;
    height: auto;
    background: var(--primary);
}

.btn--adminTopMenu {
    background: transparent;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
}

a.btn--adminTopMenu {
    border-bottom: 1px solid #fff;
}

.admin {
    margin: 100px 10% 40px 20%;
}

.admin__label {
    position: relative;
    display: block;
    margin: 30px 0 50px;
}

.input--admin {
    height: 40px;
}

.admin__label--choice > label {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.btn--adminSelect {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid var(--primary);
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
    max-width: 30px;
    padding: 0;
}

.adminSelect .btn--adminSelect::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: var(--primary);
}

.admin__offerTypeHeader {
    font-size: 18px;
    margin: -10px 0 20px;
}

.admin__header {
    font-size: 26px;
    font-weight: 600;
}

.input--textarea {
    height: 150px;
    padding: 15px;
    resize: none;
}

.admin__label > span {
    width: 100%;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: -15px;
}

.admin__points__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn--deletePoint {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 50%;
    margin-left: 15px;
    padding: 0;
}

.btn--addPoint {
    background: transparent;
    border-bottom: 1px solid rgba(80, 131, 69, 0.5);
    filter: brightness(.7);
    padding-bottom: 12px;
    padding-left: 0;
    font-weight: 400;
    font-size: 15px;
    height: 30px;
    color: var(--primary);
    margin-top: 30px;
    width: 300px;
    box-shadow: none !important;
    justify-content: flex-start;
    text-align: left;
    border-radius: 0;
}

.admin__points__item {
    margin-bottom: 15px;
}

.btn--submitProduct {
    width: 100%;
    height: 60px;
}

.btn--submitProduct:hover {
    transform: translateY(-3px);
}

.flex > .admin__label:first-of-type {
    width: 80%;
}

.flex > .admin__label:last-of-type {
    width: 18%;
}

.flex > .admin__label {
    margin-bottom: 10px;
}

.btn--addPoint > .img {
    width: 15px;
    margin-left: 10px;
}

.filesUploadLabel {
    width: 100%;
    max-width: 600px;
    position: relative;
    height: auto;
    min-height: 100px;
    border: 1px dashed var(--primary);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.filesUploadLabel:hover {
    border-width: 2px;
}

.filesUploadLabel__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filesUploadLabel__inner > .img {
    width: 40px;
    margin-left: 20px;
}

.filesUploadLabel__item {
    height: 45px;
    width: auto;
    position: relative;
    margin: 0 30px;
}

.filesUploadLabel__item > .img {
    height: 100%;
    width: auto;
}

.removeProfileImageBtn {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .2s all;
    z-index: 5;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeProfileImageBtn:hover {
    background: var(--hover);
    transform: none !important;
}

.removeProfileImageBtn > .img {
    display: block;
    width: 60% !important;
    filter: brightness(0) invert(1);
}

.input--file {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.filesUploadLabel__profileImage .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

.admin__header--image {
    font-size: 14px;
    margin-top: -10px;
    font-weight: 400;
}

.rdw-editor-main {
    min-height: 200px;
    border: 2px solid var(--primary);
    padding: 5px 15px;
    font-size: 15px;
}

.flex--alignEnd {
    align-items: flex-end;
}

.mb {
    margin-bottom: 25px;
}

.error {
    color: red;
    padding: 10px 0;
    font-size: 14px;
}

.error--100 {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0 0 50px;
    text-align: center;
}

.info {
    background: var(--primary);
    color: #fff;
    font-weight: 700;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--hover);
    font-size: 14px;
}

.info--error {
    background: red;
    border: 2px solid #ee2211;
}

.admin__products__item {
    border-bottom: 1px solid var(--primary);
    padding: 15px 0;
    margin: 15px 0;
}

.admin__products__item__column > .key {
    font-size: 12px;
    color: grey;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.admin__products__item__column > .value {
    text-align: center;
    display: block;
    color: #000;
    font-size: 14px;
}

.admin__products__item__column > figure {
    height: 80px;
}

.admin__products__item__column > figure > .img {
    height: 100%;
    width: auto;
}

.admin__products__item__column > .value--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--productList {
    margin: 0 6px;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 0;
    padding: 0;
    display: block;
}

.btn--addProductPage {
    width: 300px;
    height: 40px;
    font-size: 14px;
    border-radius: 40px;
}

.admin__products {
    margin-top: 25px;
}

.offer {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 80px auto 20px;
    transition: .1s all;
}

.offer__item {
    width: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 35px;
    border: 1px solid #A8A8A8;
}

.offer__item__title {
    font-size: 32px;
    font-weight: 600;
    color: #2A2A2A;
}

.offer__item__shortDescription {
    color: #5D5D5D;
    font-size: 16px;
    margin: 20px 0;
}

.offer__item__points {
    margin: 25px 0;
}

.offer__item__points__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.offer__item__points__list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

.offer__item__points__list__item > .img {
    width: 14px;
    margin-right: 8px;
}

.offer__item__points__list__item > span {
    font-size: 14px;
}

.offer__item:nth-of-type(4) {
    border-bottom-left-radius: 50px;
}

.offer__item:first-of-type {
    border-top-left-radius: 50px;
}

.offer__item:nth-of-type(6) {
    border-bottom-right-radius: 50px;
}

.offer__item:nth-of-type(3) {
    border-top-right-radius: 50px;
}

.offer__item--special {
    background: #F8F8F8;
}

.offer__item__price {
    margin: 20px 0;
    font-size: 36px;
    font-weight: 700;
    display: block;
}

.offer__item__btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.offer__item__btn:hover {
    background: var(--hover);
}

.offer__item--special .offer__item__btn {
    background: #fff;
    color: var(--primary);
    border: 3px solid var(--primary);
    margin-top: 40px;
}

.offer__item--special .offer__item__btn:hover {
    background: var(--primary);
    color: #fff;
}

.section__subheader {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    max-width: 800px;
    margin: 25px auto 40px;
}

.references {
    position: relative;
}

.references__asset {
    position: absolute;
    bottom: 0;
    right: -7%;
    z-index: 4;
    width: 335px;
    height: auto;
    transform: translateY(60%);
}

.references__item {
    width: 31%;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 20px;
}

.references__item__header {
    font-size: 18px;
}

.references__item__stars {
    margin: 15px 0;
    justify-content: flex-start;
}

.references__item__stars > .img {
    width: 24px;
    margin-right: 4px;
}

.references__item__text {
    font-size: 17px;
}

.section--references {
    padding-bottom: 50px;
}

.section--cooperation {
    background: #EBF1EA;
    padding: 50px 0 30px;
    margin-top: 160px;
}

.cooperation {
    margin: 60px auto 40px;
    max-width: 1300px;
    align-items: flex-start;
}

.cooperation__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.cooperation__item::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #A8A8A8;
    display: block;
    position: absolute;
    top: 130px;
    z-index: 3;
}

.cooperation__item__number {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    border: 1px solid #A8A8A8;
    margin-bottom: 60px;
    position: relative;
    background: #fff;
    z-index: 4;
}

.cooperation__item__number::after {
    content: "";
    background: var(--primary);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.cooperation__item__header {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 15px;
    max-width: 80%;
}

.cooperation__item__text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.section--beforeFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.beforeFooter__header {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.beforeFooter__subheader {
    font-weight: 400;
    color: #2A2A2A;
    font-size: 20px;
    margin: 20px auto 40px;
    text-align: center;
}

.beforeFooter__subheader > a {
    color: var(--primary);
    font-weight: 700;
    text-decoration: underline;
    padding-right: 4px;
}

.beforeFooter__subheader > a:hover {
    opacity: .8;
}

.btn--beforeFooter {
    width: 500px;
    height: 60px;
    font-size: 16px;
}

.btn--beforeFooter:hover {
    transform: translateY(-3px);
}

.footer__main, .footer__bottom {
    border-top: 1px solid #D2D2D2;
    padding: 20px 0;
}

.footer__bottom {
    padding: 10px 0 20px;
}

.footer__col {
    width: 20%;
}

.footer__col--first {
    width: 35%;
}

.footer__col__logoWrapper {
    width: 370px;
    display: block;
}

.footer__main {
    align-items: flex-start;
}

.footer__col__text {
    color: #2A2A2A;
    margin: 20px 0;
    max-width: 80%;
}

.footer__col__socialMedia {
    justify-content: flex-start;
}

.footer__col__header {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__col__link {
    font-weight: 400;
    display: block;
    margin: 4px 0;
}

.footer__col__link:hover {
    color: var(--primary);
}

.footer__col__contact > .img {
    width: 11px;
    margin-right: 5px;
}

.footer__col__contact {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__bottom > * {
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: #5D5D5D;
}

.problems__left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 40px;
    border-right: 1px solid #D2D2D2;
}

.problems__left__item {
    width: 21%;
}

.problems__left__item > figure {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.problems__left__item > figure > .img {
    height: 60%;
    width: auto;
    transition: .2s all;
}

.problems__left__item > figure:hover > .img {
    height: 65%;
}

.problems__left__item:nth-of-type(even) > figure {
    background: #3C6234;
}

.problems__left__item:nth-of-type(odd) > figure {
    background: #508345;
}

.problems__left__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.problems__left__item > span {
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.section--problems {
    margin: 100px auto;
}

.section--problems .section__header {
    margin: 50px auto 70px;
}

.problems__right {
    width: 45%;
}

.admin--contentEdition .admin__offerTypeHeader {
    margin-bottom: 40px;
    text-align: center;
}

.admin--content--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -25px;
}

.admin--content--flex > label {
    width: 48%;
}

.problems__right > * {
    margin: 15px 0;
}

.flex--alignStart {
    align-items: flex-start;
}

.contactForm {
    width: 52%;
    padding-right: 60px;
    margin-right: 60px;
    border-right: 1px solid #D2D2D2;
}

.contactData {
    width: 45%;
}

.contactForm__header {
    font-size: 36px;
}

.contactForm__text {
    color: #5D5D5D;
    font-size: 18px;
    margin: 20px 0;
}

.contactForm__label {
    display: block;
    margin: 15px 0;
}

.btn--submitContactForm {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.btn--submitContactForm:hover {
    background: var(--hover);
}

.contact__data__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.contact__data__item > figure {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #EBF1EA;
    margin-right: 20px;
}

.contact__data__item > figure > .img {
    height: 40%;
    width: auto;
}

.contact__data__item > span {
    font-weight: 600;
    font-size: 32px;
}

.contactData__secondHeader {
    font-weight: 500;
    margin-top: 80px;
    font-size: 32px;
}

.contactData__secondText {
    font-size: 18px;
    margin: 20px 0;
}

.contactData__secondText > a {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 700;
}

.contact {
    align-items: flex-start;
    margin: 80px auto 100px;
}

.input--contactForm {
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
}

.contactForm__label {
    font-size: 14px;
    margin: 20px 0;
}

.input--contactForm.input--textarea {
    height: 150px;
}

.img--ty {
    width: 200px;
}

.ty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 80px;
}

.ty * {
    text-align: center;
}

.ty__header {
    margin: 40px auto 20px;
    font-size: 36px;
}

.ty__text {
    font-size: 20px;
    font-weight: 400;
}

.ty__text__date {
    color: var(--primary);
    font-weight: 700;
}

.ty__buttons {
    margin: 30px auto;
    width: 530px;
}

.btn--ty {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
}

.btn--ty--1 {
    background: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn--ty--2 {
    background: var(--primary);
    color: #fff;
}

.btn--ty:hover {
    transform: translateY(-3px);
}

.singleProduct {
    align-items: flex-start;
    flex-wrap: wrap;
}

.singleProduct__image {
    width: 42%;
}

.singleProduct__image > .img {
    border-radius: 10px;
    overflow: hidden;
}

.singleProduct__mainContent {
    width: 56%;
}

.singleProduct__title {
    font-size: 36px;
}

.singleProduct__shortDescription {
    font-size: 18px;
    margin: 10px 0 10px;
}

.singleProduct__price {
    font-size: 32px;
}

.btn--addToCart {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
}

.btn--addToCart:hover {
    background: var(--hover);
}


.singleProduct__longDescription {
    width: 100%;
}

.singleProduct__longDescription__header {
    font-size: 42px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.singleProduct .offer__item__points {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #D2D2D2;
}

.singleProduct {
    margin-top: 60px;
}

.container--singleProduct .section--cooperation {
    margin-top: 50px;
}

.differentProducts {
    align-items: flex-start;
    margin: 40px auto 60px;
}

.differentProducts__item {
    width: 23%;
    border: 1px solid #A8A8A8;
    border-radius: 25px;
    padding: 35px;
}

.differentProducts__item .offer__item__title {
    font-size: 28px;
}

.singleProduct__longDescription__content > * {
    margin-top: 20px;
    margin-bottom: 5px;
}

.breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.breadcrumb > p {
    display: block;
    padding-right: 15px;
    color: #A8A8A8;
    font-size: 12px;
    position: relative;
}

.breadcrumb > p::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background: #A8A8A8;
    border-radius: 50%;
    z-index: 2;
}

.breadcrumb > p:last-of-type::after {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    transition: .3s opacity;
    opacity: 0;
    z-index: -99;
}

.modal__inner {
    background: #fff;
    border-radius: 25px;
    padding: 65px;
}

.modal__inner > .img {
    height: 70px;
    width: auto;
    margin: auto;
    display: block;
}

.modal__header {
    text-align: center;
    margin: 40px auto;
    font-size: 26px;
}

.modal__buttons {
    justify-content: center;
}

.modal__buttons > .btn {
    width: 220px;
    height: 40px;
    margin: 0 10px;
    border-radius: 10px;
}

.modal__buttons > .btn:hover {
    transform: translateY(-2px);
}

.btn--closeModal {
    border: 2px solid var(--primary);
    background: #fff;
    color: var(--primary);
}

.cart__bottom {
    padding-top: 25px;
    margin-top: 30px;
    border-top: 1px solid #A8A8A8;
    justify-content: flex-end;
}

.cart__bottom .btn--closeModal:hover {
    background: var(--primary);
    color: #fff;
}

.cart__bottom .btn--goToCart:hover {
    background: var(--hover);
}

.cart .section__header {
    font-size: 36px;
    text-align: left;
    margin: 0 0 20px;
}

.emptyCart .section__header {
    text-align: center;
}

.cart__table--order {
    width: 900px;
}

.cart > *:not(.emptyCart) {
    max-width: 1100px;
}

.cart__table__header__col {
    background: #EBF1EA;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 50px;
    width: 100%;
}

.cart__table__header__col:last-of-type,
.cart__table__item__col:last-of-type {
    width: 80px;
}

.cart__table__header__col:first-of-type,
.cart__table__item__col:first-of-type {
    max-width: 50px;
}

.cart__table__header__col:nth-of-type(2),
.cart__table__item__col:nth-of-type(2) {
    max-width: 200px;
}

.cart__table__header__col:nth-of-type(3),
.cart__table__item__col:nth-of-type(3) {
    max-width: 500px;
}

.cart__table__header__col:nth-of-type(4),
.cart__table__item__col:nth-of-type(4) {
    max-width: 175px;
}

.cart__table__header {
    margin-bottom: 15px;
}

.cart__table__item {
    margin-bottom: 10px;
}

.cart__table__item__col {
    width: 100%;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.btn--deleteFromCart {
    background: transparent;
    width: 20px;
    padding: 0;
    opacity: .7;
}

.btn--deleteFromCart:hover {
    opacity: 1;
}

.btn--deleteFromCart > .img {
    filter: brightness(0);
}

.cart__table__item__col > img {
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 100%;
}

.cart {
    margin-top: 30px;
}

.emptyCart {
    margin: 80px auto;
    flex-direction: column;
}

.btn--emptyCart {
    width: 300px;
    height: 55px;
    margin-top: 20px;
}

.btn--emptyCart:hover {
    transform: translateY(-3px);
}

.input--discountValue {
    max-width: 300px;
}

.discountType {
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 310px;
    height: 40px;
    display: flex !important;
    justify-content: flex-start;
}

.discountPanel__list {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid var(--primary);
}

.discountPanel__header {
    font-size: 24px;
    margin-bottom: 20px;
}

.discountPanel__list__item {
    padding: 15px 0;
    border-bottom: 1px solid #A8A8A8;
}

.discountPanel__list__item--header > * {
    font-weight: 700;
}

.discountPanel__list__item > * {
    display: block;
    width: 25%;
    text-align: center;
}

.discountPanel__list__item__options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__table {
    margin-top: 30px;
}

.cart__table__bottom__sum {
    font-size: 26px;
    font-weight: 600;
    text-align: right;
}

.cart__table__bottom__sum--discount {
    font-size: 21px;
}

.cart__table__bottom {
    margin-top: 30px;
    align-items: flex-end;
}

.cart__table__bottom__sum > span {
    color: var(--primary);
}

.cart__bottom {
    margin-bottom: 80px;
}

.cart__bottom > .btn {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 15px;
}

.cart__bottom > .btn > .img {
    width: 15px;
    margin-left: 8px;
}

.discountCode {
    width: 320px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.discountCode__caption {
    font-size: 14px;
    padding-bottom: 8px;
    display: block;
    width: 100%;
}

.btn--discountCode {
    width: 50px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    transform: translateX(-2px);
}

.btn--discountCode:hover {
    background: var(--hover);
}

.btn--discountCode > .img {
    width: 7px;
}

.input--discountCode {
    width: 270px;
    height: 50px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.discountCode {
    position: relative;
}

.error--discountCode {
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 12px;
    font-size: 12px;
    z-index: -1;
}

.orderWrapper {
    margin: 40px auto 60px;
}

.flex--start {
    justify-content: flex-start;
}

.order label {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: #5D5D5D;
}

.order .flex--start label {
    margin-right: 15px;
}

.input--order {
    margin-top: 4px;
    height: 50px;
}

.input--firstName {
    width: 250px;
}

.input--lastName {
    width: 350px;
}

.input--flat {
    width: 100px;
}

.input--postalCode {
    width: 150px;
}

.input--city {
    width: 315px;
}

.input--phoneNumber {
    width: 200px;
}

.input--email {
    width: 400px;
}

.btn--adminSelect--order {
    width: 25px;
    height: 25px;
}

.order label.flex {
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.checkboxWrapper {
    margin: 20px 0;
}

.checkboxWrapper__header {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: -5px;
}

.checkboxWrapper .btn--adminSelect {
    border-width: 2px;
}

.cart__bottom--order {
    justify-content: flex-start;
    max-width: 900px;
}

.clientData,
.cart__bottom--order--3 {
    max-width: 800px;
}

.cart__bottom--order--1 {
    max-width: 650px;
}

.cart__bottom--order--3 {
    justify-content: space-between;
}

.cart__bottom--order > .btn {
    margin-left: 0;
    margin-right: 10px;
}

.input--companyName {
    width: 550px;
}

.input--nip {
    width: 400px;
}

.invoiceData {
    margin-top: -15px;
}

.order__section__header {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.order__section {
    margin: 25px 0 40px;
}

.bold {
    font-weight: 700;
}

.btn--download {
    width: 250px;
    font-weight: 600;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.btn--download:hover {
    background: var(--hover);
}

.btn--download .img {
    width: 10px;
    margin-left: 12px;
}

.uploadAttachmentLabel {
    position: relative;
    width: 250px;
    height: 50px;
    background: #F8F8F8;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    display: block;
    transition: .2s all;
}

.uploadAttachmentLabel:hover {
    border: 2px dashed var(--primary);
}

.uploadAttachmentLabel > span {
    color: #5D5D5D;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.uploadAttachmentLabel > span > .img {
    width: 20px;
    margin-left: 12px;
    filter: brightness(.2);
}

.uploadAttachmentLabel > span > .img--check {
    filter: none;
    margin: 0 12px 0 0;
}

.uploadAttachmentLabel .input--file {
    position: absolute;
    background: transparent;
    color: transparent;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    cursor: pointer;
}

.uploadAttachmentLabel .removeProfileImageBtn {
    width: 25px;
    height: 25px;
}

.calendarEditionHeader {
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 30px;
    max-width: 900px;
}

.calendar {
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 20px 0 40px;
}

.btn--calendar {
    border-radius: 5px;
    width: 125px;
    height: 125px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
    margin: 0 15px 15px 0;
    background: transparent;
}

.btn--calendar:hover {
    opacity: .75;
}

.btn--calendar--selected {
    background: var(--primary);
}

.btn--calendar--excluded {
    opacity: .5;
    border: 2px solid #D2D2D2;
}

.btn--calendar > * {
    color: var(--primary);
}

.btn--calendar--excluded > * {
    color: #D2D2D2;
}

.btn--calendar--selected > * {
    color: #fff;
}

.btn--calendar--excluded:hover,
.btn--calendar--selected:hover {
    opacity: 1;
}

.calendar__day {
    font-weight: 700;
    font-size: 32px;
}

.calendar__weekday {
    font-weight: 700;
    font-size: 15px;
    margin: 10px auto 5px;
}

.calendar__month {
    font-size: 14px;
    font-weight: 400;
}

.categories__header {
    margin-bottom: 20px;
}

.categories__list label {
    margin: 5px 0;
    cursor: pointer;
}

.categories__list__item {
    max-width: 600px;
}

.addNewCategory {
    margin: 20px 0 30px;
}

.input--newCategory {
    height: 50px;
    width: 400px;
    border-radius: 0;
}

.btn--addNewCategory {
    height: 50px;
    border-radius: 0;
}

.btn--addNewCategory:hover {
    background: var(--hover);
}

.flex--end {
    justify-content: flex-end;
}

.categories__list__item__buttons > .btn {
    background: transparent;
    width: 15px;
    margin: 0 0 0 10px;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}

.input--updateCategory {
    border: none;
    border-bottom: 1px solid var(--primary);
    padding-left: 2px;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none !important;
}

.blog .section__header {
    text-align: left;
    margin: 30px 0 50px;
}

.blog__categories {
    flex-wrap: wrap;
    max-width: 50%;
}

.btn--category {
    background: transparent;
    border: 2px solid var(--primary);
    height: 40px;
    border-radius: 10px;
    color: var(--primary);
    margin-right: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn--category--selected {
    background: var(--primary);
    color: #fff;
}

.blog__search__label {
    width: 460px;
    height: 40px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 5px 10px;
}

.input--search {
    width: calc(100% - 50px);
    border: none;
    box-shadow: none !important;
}

.blog__search__label > .img {
    width: 15px;
}

.blog__articles {
    margin: 60px 0 80px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.blog__articles__item {
    width: 100%;
}

.blog__articles__item:hover {
    transform: translateY(-4px);
    opacity: .85;
}

.blog__articles__item__categories__item {
    font-size: 12px;
    background: #EBF1EA;
    margin-right: 10px;
    height: 32px;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 600;
}

.blog__articles__item__image {
    margin: 10px 0;
}

.blog__articles__item__image > .img {
    border-radius: 10px;
}

.blog__articles__item__date {
    display: block;
    color: #5D5D5D;
    font-size: 13px;
}

.blog__articles__item__title {
    font-size: 24px;
    margin: 10px 0;
}

.btn--blog {
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.blog--single {
    margin: 40px auto;
    max-width: 1200px;
}

.singleArticle__image > .img {
    border-radius: 20px;
}

.singleArticle__title {
    font-size: 36px;
    margin: 20px 0;
    color: var(--primary);
}

.singleArticle__content > * {
    margin: 15px 0;
}

.calendar--order {
    max-width: 700px;
}

.btn--calendar:disabled {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

.uploadAttachmentLabel--error,
.input--error {
    border-color: red;
}

.uploadAttachmentLabel--error {
    border-width: 2px;
}

.red {
    color: red;
}

.cart__table--order .cart__table__bottom {
    justify-content: flex-end;
}

.btn--handleSubmitOrder {
    width: 600px !important;
    margin-right: 0 !important;
}

.btn--handleSubmitOrder .img {
    transition: .2s all;
}

.btn--handleSubmitOrder:hover .img {
    transform: translateX(4px);
}

.btn--nextToHandleSubmitOrder {
    width: 280px !important;
}

.clientData {
    margin-top: -50px;
}

.clientData__section {
    margin: 10px 0;
    padding: 10px 0;
}

.clientData__section:not(:last-of-type) {
    border-bottom: 1px solid #D2D2D2;
}

.clientData__section__header {
    font-size: 16px;
}

.clientData__section__data {
    color: #5D5D5D;
    display: block;
    margin: 3px 0;
}

.btn--editOrderData {
    background: transparent;
    border: 1px solid var(--primary);
    border-radius: 3px;
    width: 145px;
    height: 30px;
    margin-bottom: 10px;
    color: var(--primary);
    font-weight: 400;
}

.btn--editOrderData:hover {
    background: #efefef;
}

.btn--editOrderData .img {
    width: 10px;
    margin-left: 8px;
}
